<div class="container">
    <div class="content dashboard-name">
        <img src="http://placehold.it/250x250" alt="">
        <h1>Witaj Lorem</h1>
    </div>
    <div class="content dashboard-debts">
        <div class="row">
            <div class="col-md-6">
                <div class="small">Największy dług wobec innych</div>
                <ul class="list-unstyled nomargin">
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Marcin</b>
                            <br/>
                            <div class="dashboard-debt-value">16.00zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Maciuś</b>
                            <br/>
                            <div class="dashboard-debt-value">13.37zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Czarek</b>
                            <br/>
                            <div class="dashboard-debt-value">4.20zł</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="small">Największy dług wobec Ciebie</div>
                <ul class="list-unstyled nomargin">
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Marcin</b>
                            <br/>
                            <div class="dashboard-debt-value">16.00zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Maciuś</b>
                            <br/>
                            <div class="dashboard-debt-value">13.37zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Czarek</b>
                            <br/>
                            <div class="dashboard-debt-value">4.20zł</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <div class="dashboard-order-list">
                    <ul class="list-unstyled nomargin">
                        <li *ngFor="let user of users">
                            {{ user.firstName }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-buttons">
                <a [routerLink]="['NewOrder']">Stwórz zamówienie</a>
                <a href="#">Lista zamówień</a>
            </div>
        </div>
    </div>
</div>