<div class="container">
    <div class="content dashboard-name">
        <img src="http://placehold.it/250x250" alt="">
        <h1>Witaj Lorem</h1>
    </div>
    <div class="content dashboard-debts">
        <div class="row">
            <div class="col-md-6">
                <div class="small">Największy dług wobec innych</div>
                <ul class="list-unstyled nomargin">
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Marcin</b>
                            <br/>
                            <div class="dashboard-debt-value">16.00zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Maciuś</b>
                            <br/>
                            <div class="dashboard-debt-value">13.37zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Czarek</b>
                            <br/>
                            <div class="dashboard-debt-value">4.20zł</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="small">Największy dług wobec Ciebie</div>
                <ul class="list-unstyled nomargin">
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Marcin</b>
                            <br/>
                            <div class="dashboard-debt-value">16.00zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Maciuś</b>
                            <br/>
                            <div class="dashboard-debt-value">13.37zł</div>
                        </div>
                    </li>
                    <li><img src="http://placehold.it/250x250" alt="">
                        <div class="dashboard-debts-name">
                            <b>Czarek</b>
                            <br/>
                            <div class="dashboard-debt-value">4.20zł</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <search-users #filter></search-users>
            <div class="dashboard-users-list">
                <div class="row" *ngIf="users">
                    <ul class="list-unstyled nomargin col-md-6">
                        <li class="content dashboard-users-list-user"
                            *ngFor="let user of users | usersFilter: filter.filterTerm">
                            <img src="http://placehold.it/250x250" alt="">
                            <div class="dashboard-user-name">
                                <div class="dashboard-user-realName">
                                    {{ user.firstName }} {{ user.lastName }}
                                </div>
                                <div class="dashboard-user-username">
                                    {{ user.username }}
                                </div>
                            </div>
                            <div class="dashboard-user-debt-wrap">
                                <div class="dashboard-user-debt-options">
                                    <a href="#">dodaj dług</a><br/>
                                    <a href="#">odejmij dług</a>
                                </div>
                                <div class="dashboard-user-debt">
                                    Jest ci winien: <br/>
                                    <span class="dashboard-user-debt-value">{{ user.balance }}.00zł</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-unstyled nomargin col-md-6" *ngIf="users">
                        <li class="content" *ngFor="let user of users | usersFilter: filter.filterTerm">
                            <img src="http://placehold.it/250x250" alt="">
                            <div class="dashboard-user-name">
                                <div class="dashboard-user-realName">
                                    {{ user.firstName }} {{ user.lastName }}
                                </div>
                                <div class="dashboard-user-username">
                                    {{ user.username }}
                                </div>
                            </div>
                            <div class="dashboard-user-debt-wrap">
                                <div class="dashboard-user-debt-option">
                                    <a href="#">rozlicz</a>
                                </div>
                                <div class="dashboard-user-debt">
                                    Jesteś mu winien: <br/>
                                    <span class="dashboard-user-debt-value">{{ user.balance }}.00zł</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-3">
            <div class="dashboard-buttons">
                <a href="#">Stwórz zamówienie</a>
                <a href="#">Lista zamówień</a>
            </div>
        </div>-->
    </div>
</div>