<div style="position: absolute; color: blue; text-decoration: underline; top: 0;" onclick="$('.topNav').toggle();">topNav</div>

<div class="topNav">
    <div class="topNav-notifications-wrap">
        <div class="topNav-notifications">
            <img src="/assets/img/notifications-button.png" alt="" />
        </div>
        <div class="topNav-notifications-list">
            <div class="topNav-notifications-list-header">
                Powiadomienia
            </div>
            <ul class="list-unstyled">
                <li>
                    <span class="notification-name">Maciuś</span> dodał Cię do <a href="#">zamówienia</a>.
                    <hr />
                </li>
                <li>
                    <span class="notification-name">Czarek</span> prosi o zmianę długu z <b>14zł</b> do <b>6zł</b>.
                    <br />
                    <div class="notification-buttons">
                        <a href="#">Potwierdź</a><span class="divider"></span><a href="#">Odrzuć</a>
                    </div>
                    <hr />
                </li>
                <li>
                    <span class="notification-name">Maciuś</span> odrzucił zmianę długu z <b>234zł</b> do <b>13zł</b>.
                    <hr />
                </li>
                <li>
                    <span class="notification-name">Czarek</span> zgodził się na zmianę długu z <b>3zł</b> do <b>1zł</b>.
                    <hr />
                </li>
            </ul>
        </div>
    </div>
    <div class="topNav-profile-wrap">
        <div class="topNav-profile">
            <img src="http://placehold.it/250x250" alt="" />
            <span>Lorem Ipsum ▼</span>
        </div>
        <div class="topNav-profile-list">
            <ul class="list-unstyled nomargin">
                <li>Edytuj profil</li>
                <li>Wyloguj</li>
            </ul>
        </div>
    </div>
</div>
